# ========================
# Python
# ========================

__pycache__/
*.pyc
*.txt
*.csv
.ipynb_checkpoints/

# ========================
# OS / Editor junk
# ========================

.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Figures
# ========================

*.png
/Figures